*{
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: my-app-font;
  src: url("Fonts/Golos-UI_Regular.woff");
}

.App {
  text-align: center;
  font-family: my-app-font;
}

.xndzor{
  font-size: 26px;
  text-shadow: 5px 5px 5px white;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

nav{
  width: 100%;
  background-color: #282c34;
}

.list-items{
  text-decoration: none;
  color: white;
}

.content-divs,input{
  color: #282c34;
}

input[type="submit"],button{
  width: 8vw;
  height: 4vh;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}


.hoc-test{
  display: flex;
  align-items: center;
  justify-content: center;
}

